<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola Mundo</h1>
    <a href="/formulario1">Ir al comparador de números</a><br>
    <a href="/calificacion">Ir a la conversión de calificaciones</a><br>
    <a href="/ventas">Ir al cálculo del total de ventas</a><br>
    <a href="/doble_triple">Ir al cálculo del doble y triple del número</a><br>
    <a href="/area">Ir al cálculo del área de figuras geométricas</a>
</body>
</html>
